@charset "UTF-8";
@font-face {
  font-family: Retro_Gaming;
  src:url('../fonts/Retro_Gaming.ttf') format('truetype');
}

body {
  display: block;
  margin: 10px;
  background-image: linear-gradient(
    #5444aa 0%,
    #3487de 15%,
    #45eebb 15%,
    #45eebb 30%,
    #feff33 30%,
    #feff33 47%,
    #ffdd55 47%,
    #ffdd55 60%,
    #dd7611 60%,
    #dd7611 77%,
    #993411 77%,
    #993411 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  color: #fff;
  min-height: 100vh;
}
.wrapper {
  display: grid;
  --aug-border-bg: #000;
  --aug-inset-bg: #000;
  --aug-width:10px;
  --aug-border: 5px;
  --aug-inset: 5px;
  --aug-tr-height: 0px;
}
main {
  margin: 0 20px 20px 20px;
}
#logo {
  font-size: 40px;
  font-family: Retro_Gaming;
  margin: 10px 0 0 20px;
  background-image: linear-gradient(
    #5444aa 0%,
    #3487de 15%,
    #45eebb 15%,
    #45eebb 30%,
    #feff33 30%,
    #feff33 44%,
    #ffdd55 44%,
    #ffdd55 58%,
    #dd7611 58%,
    #dd7611 70%,
    #993411 70%,
    #993411 100%);
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-login {
  display: block;
  position: absolute;
  top: 0;
  right: 0;

  margin: 10px;
  height: 45px;
}
.logout, .signin > input {
  --aug-border-bg: #000;
  --aug-inset-bg: #000;
  --aug-width:10px;
  --aug-border: 5px;
  --aug-inset: 5px;
  --aug-tr-height: 0px;
}
.signin > input {
  font-size: 15px;
  padding: 3px;
}
.signin > button {
  font-size: 15px;
  padding: 5px 10px;
}
.header-signup, .signin {
  display: inline-block;
}
.header-signup {
  --aug-border-bg: blue;
  --aug-inset-bg: #000;
  --aug-width:10px;
  --aug-border: 2px;
  --aug-inset: 5px;
  --aug-tr-height: 0px;
  padding: 12px;
  color: #fff;
  text-decoration: none;
}
.menu {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin: 0;
  padding: 10px;
}
.menu > a {
  text-decoration: none;
}
.menu > a > li {
  display: block;
  width: auto;
  margin: 10px;
  --aug-border: 5px;
  --aug-inset: 5px;
  padding: 20px; /* mind the gap */
  text-align: center;
  font-size: 16px;
  font-family: Retro_Gaming;
  --aug-border-bg: gold;
  --aug-inset-bg: gold;
  --aug-width:10px;
  color: #000;
  transition: ease all 500ms
}

@media (min-width:800px) {
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .wrapper {
    display: grid;
    --aug-border-bg: #000;
    --aug-inset-bg: #000;
    --aug-width:10px;
    --aug-border: 5px;
    --aug-inset: 5px;
    --aug-tr-width: calc(100vw - 480px);
    --aug-tr-height: 50px;
  }

}
.menu > a > li:hover {
  --aug-br-height: 50%;
}
